<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null, footer: false}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
		<% if( (post.toc !== false) && theme.toc.article){ %>
		<div id="toc" class="toc-article">
			<h2 class="toc-title"><span><%= __('contents') %></span></h2>
		<% if(post.list_number == false) {%>
		<%- toc(post.content,{list_number:false}) %>
		<% }else{ %>
			<%- toc(post.content) %>
		<% } %>
		</div>
		<% } %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
	  <% if ((page.layout == 'post'|| page.layout == 'page') && theme.baidushare){ %>
	  <!-- 百度分享 Start -->
	  <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
	  <!-- 百度分享 End -->
	  <% } else { %>
	  <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" data_title="<%- post.title %>" data_summary="<%- truncate(strip_html(post.content), 160) %>" class="article-share-link">Share</a>
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
      <% } %>

      <% if (post.comments && theme.duoshuo_shortname){ %>
        <a href="<%- post.permalink %>#ds_thread" class="ds-thread-count article-comment-link" data-thread-key="<%- config.root %><%- post.path%>">暂无评论</a>
      <% } %>
	  <% } %>
      <%- partial('post/tag') %>
	  <%- partial('post/date', {date_format: null, footer: true}) %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>

<!-- 多说评论框 start -->
<% if (!index && post.comments && theme.duoshuo_shortname){ %>
<section id="comments">
  <div class="ds-thread"  data-thread-key="<%- config.root %><%- page.path%>" data-title="<%= page.title %>" data-url="<%- page.permalink %>" id="ds_thread">
    <noscript>Please enable JavaScript to view the <a href="//duoshuo.com/?ref_noscript">comments powered by duoshuo.</a></noscript>
  </div>
</section>
<% } %>
<!-- 多说评论框 end -->
